<!DOCTYPE html>
<html ng-app="recipeApp">
<head>
    <title>Recipe</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>	
    <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag 'angular', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>

<body>
  <nav>
    <h1>Recipe Box</h1>
       <!-- Logout Button -->
      <form action="<%= session_path %>" method="POST">           
        <input type="hidden" name="authenticity_token"
              value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="DELETE">
        <input class="logout" type="submit" value="Log out">
      </form> 
      
      <br/ >

    <div ng-controller="UserController as userCtrl">
	     <h3>User is: {{userCtrl.current_user.email}}</h3>
    </div>

  </nav>
	
  <div ng-controller="PostController as postCtrl">

		<form ng-submit="postCtrl.createPost()">
			<input  type="text" class="recipe-input"
              ng-model="postCtrl.recipe_name" 
              placeholder="Name of Recipe" />
      <br/>
      <input  type="text" class="recipe-input"
              ng-model="postCtrl.ingredients" 
              placeholder="Add your ingredients list" />
      <br/>
			<input  type="text"  class="recipe-input"
              ng-model="postCtrl.body" 
              placeholder="Write your recipe down" /> 
      <br/>
		  <input type="submit">
		</form>
    
      <br/>

    <hr />

    <h3>Your Cookbook</h3>

		<div class="recipe-display" ng-repeat="post in postCtrl.current_user_posts" | orderBy: "-created_at">

      <p>Recipe Name: {{post.recipe_name}}</p>
			<p>Ingredients: {{post.ingredients}}</p>
      <p>Instructions: {{post.body}}</p>
 
      <button ng-click="editPost=!editPost"> Edit</button>

      <div ng-show="editPost">
        <form ng-submit="postCtrl.editPost(post)">
            Recipe Name:
            <input type="text" 
              ng-model="postCtrl.recipe_name" 
              placeholder= "{{post.recipe_name}}"
              value= "{{post.recipe_name}}" />
            <br/>
            Ingredients:
           <input type="text" 
              ng-model="postCtrl.ingredients" 
              placeholder= "{{post.ingredients}}"
              value= "{{post.ingredients}}"
              /> 
          <br/>
            Instructions:
            <input type="text" 
                ng-model="postCtrl.body" 
                placeholder= "{{post.body}}"
                value= "{{post.body}}"/>
          <br/>
            <input type="submit" value="submit" />
        </form>
      </div> 

      <button ng-click="postCtrl.destroyPost(post)"> Delete</button>

		</div>

	</div>

</body>
</html>
